.signup-form-container{
    width: 400px;
    height: 500px;
    background-color: white;  
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    font-family: sans-serif;
    border: .1px hidden lightgrey;
    border-style: solid;

}

.signup-text-top{
     
    position: absolute;
    top: 30%;
    left: 40%;
    font-family: sans-serif;
    z-index: 1;
    font-size: 20px;
}


.signup-username {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    margin-left: 5%;
    font-size: 14px;
    font-family: sans-serif;
    color: gray;
}

.signup-email {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 14px;
    width: 60%;   
    font-family: sans-serif;
    color: gray;
}

.signup-password {
  
    
    margin-top: 3%;
    margin-left: 5%;
    font-size: 14px;
    font-family: sans-serif;
    color: gray;
}

button{ 
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 8%;
    margin-left: 37%;
    font-weight: bold;
    border: 1.5px solid black;
    border-radius: 20px;
    color: white;
    background: black;
}
button:hover { 
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 8%;
    margin-left: 37%;
    border: 1.5px solid black;
    font-weight: bold;
    border-radius: 20px;
    color:  black;
    background-color: white;
    cursor: pointer;
}

.button1{
    background-color: purple;
}