body {margin: 0;}

.splash-img{
   
 background-size: cover;
}

.brand-container{
display: flex;
align-items: center;
margin-left: 5%;


}
.brand-icon{
  
  font-size: 25px;
  margin-left: 120%;
  margin-right: 120%;
}

.brand-icon:hover{
  color: purple;
  font-size: 25px;
  margin-left: 120%;
  margin-right: 120%;
}

.splash-nav {
    height: 50px;
    padding: 8px 64px;
    background-color: white;
     display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    
    
}

.splash-nav-header{
    font-size: 27px;
    margin-left: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    position: absolute;
    font-weight: lighter;
   
 

}



.splash-login{
    
    margin-right: 2%;
    font-weight: bolder;
    max-width: 1400px;

}

.splash-signup{

   font-weight: bold;
    font-size: 15px;
    padding: 0 14px;
    height: 30px;
    border-radius: 16px;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    max-width: 1400px;

}

/* .splash-signup {
    margin-right: 5 px;
   font-weight: bold;
    font-size: 15px;
    padding: 0 16px;
    height: 30px;
    border-radius: 16px;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
} */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: purple;
}



.splash-text-top{
    font-family: sans-serif;
    
    top: 185px;
    left: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 4px;

}
.splash-text-mid{
    font-family: sans-serif;
    position: absolute;
    top: 235px;
    left: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 4px;

}
.splash-text-bottom{
    font-family: sans-serif;
    position: absolute;
    top: 285px;
    left: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 4px;
}
.splash-mini-bottom{
    font-family: sans-serif;
    position: absolute;
    top: 360px;
    left: 16px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 3px;
}

.splash-mini-bottom2{
    font-family: sans-serif;
    position: absolute;
    top: 375px;
    left: 16px;
    color:white;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 3px;
   
}

.signup-button {
    display: block;
    color: white;
    background-color:white;
    font-family: sans-serif;
    position: absolute;
    top: 415px;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-left: 60px;
    font-style: smooth;
    border: 30px solid white;
    border-width: 20px;
    border-radius: 30px;
    border-top: 20px;
    border-bottom: 20px;
    padding: 10px;
    
}



.home-feed-text{
    font-family: sans-serif;
    
    margin-top: 3%;
    margin-left: 5%;
    font-size: 28px;
 
  
}
.home-feed-text2{
    font-family: sans-serif;
    position: absolute;
    margin-top: -54px;
    margin-left: 5%;
    font-size: 23px;
  
  
}
.home-feed-text3{
    font-family: sans-serif;
    display: flex;
    color: gray;
    font-size: 14px;
    margin-left: 5%;
  }


  .mid-text-header{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 33px;
    margin-top: 3%;
  }

  .mid-text-grow{
    font-family: sans-serif;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

  .mid-text-grow-sub{
    font-family: sans-serif;
    color: black;
    font-size: 16px; 
    margin-top: 5%;
    line-height: 1.3;
  }

  .mid-text-build{
    font-family: sans-serif;
    color: black;
    font-size: 24px;
    font-weight: 600; 
  }

  .mid-text-build-sub{
    font-family: sans-serif;
    align-items: center;
    color: black;
    font-size: 16px; 
    margin-top: 5%;
    line-height: 1.3;

}

  .mid-text-performance{
    font-family: sans-serif; 
    color: black;
    font-size: 24px;
  font-weight: 600;
    
  }
  
.mid-text-performance-sub{
    font-family: sans-serif;
    color: black;
    font-size: 16px; 
    margin-top: 5%;
    line-height: 1.3;
    
}

.mid-content-container{
   display: flex;
  justify-content: space-around;
   margin-top: 5%;  
}

.mid-text-sub-container{
  display: flex;
  justify-content: space-around;
  margin-top: 2%; 
  line-height: 1.3;
}

.mid-signup-container{
    opacity: 96%;
    background-color: darkslateblue;
    height: 323px;
    width: 100%;
}

.mid-signup-top-text{
   margin-top: 65px;
  font-family: sans-serif;  
  color: white;
  font-size: 33px;
  font-weight: bold;
  
}

.mid-signup-bottom-text{

  margin-top: 15px;
  font-family: sans-serif;  
  color: white;
  font-size: 16px;
  font-weight: lighter;
 }



 .mid-signup-last-text{
  font-family: sans-serif;  
  color: white;
  font-size: 16px;
  font-weight: lighter;
  margin-top: 4px;
}

 .bottom-purp-signup-button{
   margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 30px;
    border: 1.5px solid white;
    font-family: sans-serif;
    width: 14%;
    background-color: white;
    padding: 11px;  
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .mid-signup-container-content{

     display: flex;
     align-items: center;
     flex-direction: column;   
 }
 

 .footer{
  height: 20px;
  width: 100%;
  opacity: 96%;
  background-color: white; 
}

.left-footer{
  margin-top: 1%;
text-indent: 15px;
display: flex;
justify-content: flex-start;
align-items: center;
font-family: sans-serif;
color:grey;
 font-size: 18px;
 margin-bottom: 10px;
 text-align: center;
}

.icon{
  font-size: 60px;
  margin-bottom: 0%;
}


.logout-button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 17px;
    margin-right: 60px;
}

.upload-button-top{
  font-weight: bold;
    font-size: 15px;
    padding: 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    max-width: 1400px;
}

.logout-button-top{
 
  font-weight: bold;
    font-size: 15px;
    padding: 0 14px;
    color: black;
    background: white;
    height: 30px;
    border-radius: 16px;
    border: 1.5px solid black;
    margin-top: 2%;
}

.logout-button-top:hover{
  font-weight: bold;
    font-size: 15px;
    padding: 0 14px;
    color:purple;
    background: white;
    height: 30px;
    border-radius: 16px;
    border: 1.5px solid black;
}

.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stock-images-container{
  margin-left: 28%;
  margin-top: 2%;
}


