.splash-nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 64px;
    background-color: white;
    
}

.splash-nav-header{
    font-size: 27px;
    margin-left: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    position: absolute;
    font-weight: lighter;
 

}

.splash-login {
    font-size: 17px;
    margin-left: 780px;
    padding:  18px;
    padding-top: 22px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: sans-serif;
    color: inherit;
    text-decoration: inherit;
    font-weight: bolder;
}
.splash-signup {
    margin-right: 5 px;
   font-weight: bold;
    font-size: 15px;
    padding: 0 16px;
    height: 30px;
    border-radius: 16px;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: purple;
}



.splash-text-top{
    font-family: sans-serif;
    position: absolute;
    top: 185px;
    left: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 4px;

}
.splash-text-mid{
    font-family: sans-serif;
    position: absolute;
    top: 235px;
    left: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 4px;

}
.splash-text-bottom{
    font-family: sans-serif;
    position: absolute;
    top: 285px;
    left: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 4px;
}
.splash-mini-bottom{
    font-family: sans-serif;
    position: absolute;
    top: 360px;
    left: 16px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 3px;
  
}
.splash-mini-bottom2{
    font-family: sans-serif;
    position: absolute;
    top: 375px;
    left: 16px;
    color:white;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    margin-left: 50px;
    font-style: smooth;
    text-shadow: black 0px 0px 3px;
   
}

.signup-button {
    display: block;
    color: white;
    background-color:white;
    font-family: sans-serif;
    position: absolute;
    top: 415px;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-left: 55px;
    font-style: smooth;
    border: 30px solid white;
    border-width: 20px;
    border-radius: 30px;
    border-top: 20px;
    border-bottom: 20px;
    padding: 10px;
    
}

#button2{
    margin-left: 75%;
    font-weight: bold;
     font-size: 15px;
     padding: 0 16px;
     height: 30px;
 
     font-family: sans-serif;
}

.home-feed-text{
    font-family: sans-serif;
    
    margin-top: 6%;
    margin-left: 5%;
    font-size: 28px;
 
  
}
.home-feed-text2{
    font-family: sans-serif;
    position: absolute;
    margin-top: -54px;
    margin-left: 5%;
    font-size: 23px;
  
  
}
.home-feed-text3{
    font-family: sans-serif;
    display: flex;
    color: gray;
    font-size: 14px;
    margin-left: 5%;
  }


  .mid-text-header{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 33px;
    margin-top: 5%;
  }

  .mid-text-grow{
    font-family: sans-serif;
    color: black;
    font-size: 24px;
    font-weight: bold; 
}

  .mid-text-grow-sub{
    font-family: sans-serif;
    color: black;
    font-size: 15px; 
  }

  .mid-text-build{
    font-family: sans-serif;
    color: black;
    font-size: 24px;
    font-weight: bold;  
  }

  .mid-text-build-sub{
    font-family: sans-serif;
    align-items: center;
    color: black;
    font-size: 15px; 
    position: relative;

}

  .mid-text-performance{
    font-family: sans-serif; 
    color: black;
    font-size: 24px;
    font-weight: bold;  
  }
  
.mid-text-performance-sub{
    font-family: sans-serif;
    color: black;
    font-size: 15px; 
    
}

.mid-text-container{
   display: flex;
  justify-content: space-around;
   margin-top: 5%;  
}

.mid-text-sub-container{
  display: flex;
  justify-content: space-around;
  margin-top: 2%; 
  line-height: 1.3;
  
   

}